@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* headings (large text) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* navbar, small text i.e. post description etc */

html {

    height: 100%;
}

body {
    background-image: url(./components/alien-outline.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 12rem 16rem;
    background-color: white;
}

#welcome-text {
    width: 100%;
    text-align: center;
}

#img {
    /* width: 100%; */
    text-align: center;
    margin-top: 3.5rem;
}

img {
    height: 50vh;
}

#nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.6rem;

}

#nav>* {
    text-decoration: none;
    margin-left: 1rem;
    color: black;
}

#nav>*:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: aquamarine;
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

#register>* {
    margin: auto;
    margin-top: 0.8rem;
}

#log-in {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

#log-in>* {
    margin: auto;
    margin-top: 0.8rem;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#log-out {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    /* margin-left: 0.5rem; */
    align-items: right;
    background-color: rgb(182, 72, 154);
    color: white;
}

#log-out:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    animation: 1s anim-lineUp ease-out;
}

#post-form {
    margin-top: 5rem;
    text-align: center;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

#single-card-view {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    margin-bottom: 15%;
    height: 35rem;
    text-align: center;
}

#inner-card-div {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}

#outer-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #filter-form {
    position: fixed;
    margin-left: 5%;
    margin-top: 5%;
} */

#profile-welcome {
    font-size: 2rem;
    text-align: center;
}

.home-greeting {
    font-size: 1.25rem;
    font-weight: bold;
}

#edit-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

#edit-form>* {
    margin: auto;
    margin-top: 0.8rem;
}

#inbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#inbox-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.8rem;
    width: 45%;
    box-shadow: 0px 0px 8px rgb(237, 0, 245);
}

#sent-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
}

#msg-sent {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 45%;
    box-shadow: 0px 0px 8px rgb(237, 0, 245);
}

#your-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#listing {
    width: 40%;
    margin-top: 1.3rem;
    margin-right: 30%;
    margin-left: 30%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.3rem;
    text-align: center;
    box-shadow: 0px 0px 13px rgb(0, 245, 233);
    overflow: auto;
}

/* #edit-button {
    border-radius: 8px; 
    padding-left: 0.8rem; 
    padding-right: 0.8rem; 
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-decoration: none;
    background-color: rgba(255, 0, 242, 0.38);
}

#view-button {
    border: 2px dotted black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    text-decoration: none;
} */

#msg-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1.5rem;
}

#msg-form-button {
    margin-top: 1rem;
}

#msg-sign-in {
    display: flex;
    margin-top: 0.8rem;
    flex-direction: column;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(212, 44, 100);
}