@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* headings (large text) */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); /* navbar, small text i.e. post description etc */

html {
    margin-left: 1rem;
    margin-right: 1rem;
}


#nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#nav > * {
    text-decoration: none;
    margin-left: 0.5rem;
    color: black;
}

#nav > *:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: aquamarine;
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

#register > * {
    margin: auto;
    margin-top: 0.8rem;
}

#log-in {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

#log-in > * {
    margin: auto;
    margin-top: 0.8rem;
}

#log-out {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    /* margin-left: 0.5rem; */
    align-items: right;
    background-color: rgb(182, 72, 154);
    color: white;
}

#log-out:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.error {
    color: red;
    animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

