@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* headings (large text) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* navbar, small text i.e. post description etc */

html {

    height: 100%;
}

body {
    background-image: url(./components/alien-outline.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 12rem 16rem;
    background-color: white;
}

#welcome-text {
    width: 100%;
    text-align: center;
}

#img {
    /* width: 100%; */
    text-align: center;
    margin-top: 3.5rem;
}

img {
    height: 50vh;
}

#nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.6rem;

}

#nav>* {
    text-decoration: none;
    margin-left: 1rem;
    color: black;
}

#nav>*:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: aquamarine;
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

#register>* {
    margin: auto;
    margin-top: 0.8rem;
}

#log-in {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}

#log-in>* {
    margin: auto;
    margin-top: 0.8rem;
}

.hidden {
    display: none;
}

.error {
    animation: 1s anim-lineUp ease-out;
    color: red;
    font-weight: bold;
    text-align: center;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

#single-card-view {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    margin-bottom: 15%;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 255, 234, 0.438);
}

#inner-card-div {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}

#return-button {
    display: flex;
    padding-left: 1rem;
}

#outer-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter-form {
    position: fixed;
    margin-right: 70%;
    margin-left: 5%;
    margin-top: 3%;
}

#profile-welcome {
    font-size: 2rem;
    text-align: center;
}

.home-greeting {
    font-size: 1.25rem;
    font-weight: bold;
}

#edit-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    height: 5vh;
}

#edit-form>* {
    margin: auto;
    margin-top: 0.8rem;
}

#inbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#inbox-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.8rem;
    width: 45%;
    box-shadow: 0px 0px 8px rgba(237, 0, 245, 0.336);
}

#sent-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
}

#msg-sent {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 45%;
    box-shadow: 0px 0px 8px rgba(237, 0, 245, 0.37);
}

#your-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#listing {
    width: 40%;
    margin-top: 1.3rem;
    margin-right: 30%;
    margin-left: 30%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.3rem;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 255, 234, 0.438);
    overflow: auto;
}

#edit-button {
    background-color: rgba(255, 0, 255, 0.397);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
}

#edit-button:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.438);
}

#view-button {
    background-color: rgba(0, 174, 255, 0.575);
}

#msg-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1.5rem;
}

#msg-form-button {
    margin-top: 1rem;
}

#msg-sign-in {
    display: flex;
    margin-top: 0.8rem;
    flex-direction: column;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(212, 44, 100);
}
